[client]
port={{port}}
socket = /tmp/mysql_{{port}}.sock

[mysqld]
user = mysql
port={{port}}
innodb_status_file=1
socket = /tmp/mysql_{{port}}.sock
log-bin=mysql-bin
log_warnings=0
server-id       = 1
expire_logs_days = 10
basedir=/opt/mysql
datadir=/data/mysql_data_{{port}}
character_set_server=utf8
default-storage-engine=INNODB
transaction_isolation = READ-COMMITTED
binlog_format = ROW
sql-mode="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
interactive_timeout=60
max_connections=1000
query_cache_size=100M
query_cache_limit=32M
query_cache_type=1
tmp_table_size=500M
#thread_cache_size=8
myisam_max_sort_file_size=10G
myisam_sort_buffer_size=35M
key_buffer_size=100M
read_buffer_size=8M
read_rnd_buffer_size=8M
join_buffer_size=100M
table_open_cache=3000
sort_buffer_size=8M
max_allowed_packet = 10G
max_length_for_sort_data=10M
max_heap_table_size = 128M
slow_query_log = ON
slow_launch_time = 5
innodb_print_all_deadlocks = 1
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=1M
innodb_buffer_pool_size=500M
innodb_log_file_size=24M
innodb_thread_concurrency=32
innodb_lock_wait_timeout = 50

